[data]
git_name = "hungify"
git_email = "nmhungify@gmail.com"
github_user = "hungify"
git_ssh_key = "personal"

  [[data.vps_hosts]]
    name = "vps"
    hostname = ""
    port = "22"
    user = "ubuntu"
    identity_file = "id_ed25519"
